<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6WYGt32J6w4vp35jUSZOTF3KbC8XfcCw</string>
	<key>GCM_SENDER_ID</key>
	<string>409363777864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>toxikon-e4395</string>
	<key>STORAGE_BUCKET</key>
	<string>toxikon-e4395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409363777864:ios:9ca9f8c0f443944a18cb7d</string>
</dict>
</plist>